/*底部*/

.bottom {
    margin-top: 30px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 14px;
    background-color: #f2f2f2;
}



.bottom span {
    color: black;
}