<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>欢迎页面-X-admin2.0</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" th:href="@{/static/back/css/font.css}">
  <link rel="stylesheet" th:href="@{/static/back/css/xadmin.css}">
  <script type="text/javascript" th:src="@{/static/webjars/jquery/3.3.1/jquery.js}"></script>
  <script type="text/javascript" th:src="@{/static/webjars/layui/2.4.5/layui.js}" charset="utf-8"></script>
  <script type="text/javascript" th:src="@{/static/back/js/xadmin.js}"></script>
</head>

<body>
<div class="x-body">
  <xblock>
    <button class="layui-btn" th:onclick="'javascript:openwin()'"><i class="layui-icon"></i>添加</button>
    <div style="float: left; margin-left: 20px;padding-right: 20px;">
      <!--查询部分-->
      <form class="layui-form layui-col-md12 x-so"style="margin-bottom: 0px;" >
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">日期查询</label>
            <div class="layui-input-inline">
              <input class="layui-input" placeholder="开始日" name="start" id="start">
            </div>
            <div class="layui-input-inline" style="margin-left: -30px;">
            <input class="layui-input" placeholder="截止日" name="end" id="end">
            </div>
          </div>
          <div class="layui-inline" style="margin-left: -60px;">
            <label class="layui-form-label">轮播图</label>
            <div class="layui-input-inline">
            <select id="carousel">
              <option value="">全部显示</option>
              <option value="1">有轮播图</option>
              <option value="0">无轮播图</option>
            </select>
            </div>
              <button class="layui-btn" data-type="reload" id="sreach" type="button"><i class="layui-icon">&#xe615;</i></button>
          </div>
        </div>
        <input type="hidden" th:value="${typeid}" id="typeid">
      </form>
    </div>
    <a class="layui-btn layui-btn-small" style="line-height:1.5em;margin-top:1px;float:right" href="javascript:location.replace(location.href);" title="刷新">
      <i class="layui-icon" style="line-height:30px;">ဂ</i>
    </a>
  </xblock>
</div>
<div style="margin-left: 20px;margin-top: -40px;">
<table id="operatortable" class="layui-hide" lay-filter="operatorDemo"></table>
<!--编辑栏按钮-->
<script type="text/html" id="barOperator">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>

</script>
</div>
<!--主页选择-->
<script type="text/html" id="checkboxTpl">
  <input type="checkbox" name="show" value="{{d.look}}"  title="是" lay-filter="lockDemo" {{ d.look == 1 ? 'checked' : '' }}>
</script>
<!--轮播选择-->
<script type="text/html" id="checkboxTp2">
<input type="checkbox" name="carousel" value="{{d.carousel}}"   title="是" lay-filter="carouselDemo" {{ d.carousel == 1 ? 'checked' : '' }}>
</script>

<script>
width1=($(window).width()-42);
  var typeid=$("#typeid").val();

  //当前页面刷新，用于子页面更新或增加完成后刷新当前页面
  function replace(){
      location.replace(location.href);
  }
  function openwin(){
      h=($(window).height() - 20);
      w=($(window).width()*0.7);

      layer.open({
          type: 2,
          area: [w+'px', h +'px'],
          fix: false, //不固定
          title: '添加新闻',
          content: '/news/adddynamic?typeid=10'
      });

  }

    layui.use(['form','laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,laydate = layui.laydate;

        laydate.render({
            elem: '#start' //查询的开始时间
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#end' //查询的结束时间
        });
    })
    layui.use(['table','layer'], function() {
        var table = layui.table
            ,form = layui.form
            ,layer = layui.layer;
        table.render({                  //表格的自动渲染
            elem : '#operatortable',
            cellMinWidth: 100,
            url : '/news/index_json?typeid='+typeid //数据接口
            ,id : 'operatorTestReload'
            ,width:width1
            ,even:true
            ,page : true //开启分页
            ,cols : [ [ //表头
                {field : 'id',title : '编号',width : 70,align : 'center',hide:true},
                {field : 'title',title : '标题',width : '40%',align : 'center'},
                {field : 'time',title : '时间',width : '15%',align : 'center'},
                {field:'look', title:'主页显示', width:'10%',align : 'center', templet: '#checkboxTpl', unresize: true},
                {field : 'pic',title : '是否有轮播图',width : '10%',align : 'center',templet:function(d){
                        return d.pic == "" ? "没有" : "有";
                    }},
                 {field:'carousel', title:'轮播图显示', width:'10%',align : 'center', templet: '#checkboxTp2', unresize: true},
                {fixed : 'right',title : '操作',width :'',align : 'center',toolbar : '#barOperator'}
                ] ]
            ,done: function(res, page, count) {
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
            }

        });

        //监听工具条
        table.on('tool(operatorDemo)', function(obj){
            var data = obj.data;
            var id=data.id;
            if(obj.event === 'edit'){
              //  layer.alert('编辑行：<br>'+ JSON.stringify(data))
              var h=$(window).height();
              var w=$(window).width();
              
                layer.open({
                    type: 2,
                    area: [w*0.7+'px', h-20+'px'],
                    content: '/news/editNews?id='+id+'&&typeid='+typeid  //这里content是一个普通的String
                });

            }else if(obj.event=='delete'){
                layer.confirm('删除这条新闻？', function(index){
                    var data={
                        "id":id
                    }
                    $.ajax({
                        url:"/news/deleteNews",
                        data:data,
                        type:"post",
                        success:function(data){
                            if(data.status>0){
                                layer.close(index);
                                location.replace(location.href);
                            }
                        }
                    });

                });
            }
        });
          //主页显示
        form.on('checkbox(lockDemo)',function(obj){
             var look;
             if(this.value==0){
                 look=1;
             }else{
                 look=0;
             }
            //当前元素
            var object = $(obj.elem);
            //遍历父级tr，取第一个，然后查找第二个td，取值
            var id = object.parents('tr').first().find('td').eq(0).text();
            var data={
                "id":id,
                "look":look
            }
            $.ajax({
                url:"/news/updateLook",
                data:data,
                type:"post",
                success:function(data){
                    if(data.status>0){
                        object.val(look);
                     
                    }
                }
            });
        });
        //轮播显示
        form.on('checkbox(carouselDemo)',function(obj){
            var carousel;
            if(this.value==0){
                carousel=1;
            }else{
                carousel=0;
            }
            //当前元素
            var object = $(obj.elem);
            //遍历父级tr，取第一个，然后查找第二个td，取值
            var id = object.parents('tr').first().find('td').eq(0).text();
            var data={
                "id":id,
                "carousel":carousel
            }
            $.ajax({
                url:"/news/updateCarousel",
                data:data,
                type:"post",
                success:function(data){
                    if(data.status>0){
                        object.val(carousel);
                    }
                }
            });
        });

        //查询
        var $ = layui.$, active = {
            reload: function(){
                table.reload('operatorTestReload', {
                    where: {
                        start : $("#start").val(),
                        end : $("#end").val(),
                        carousel:$("#carousel").val()
                    }
                });
            }
        };
        $('#sreach').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>