<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{static/back/css/font.css}">
	<link rel="stylesheet" th:href="@{static/back/css/xadmin.css}">
    <script type="text/javascript" th:src="@{static//webjars/jquery/3.3.1/jquery.js}"></script>
    <script th:src="@{static/back/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{static/back/js/xadmin.js}"></script>
</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="./index.html">教务管理1.0</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>

        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;" th:text="${session.operator.name}"></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a onclick="x_admin_show('修改密码','editPass',360,300)">修改密码</a></dd>
              <dd><a href="/exit">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="/front/index">前台首页</a></li>
        </ul>
        
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
        
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>中心概况</cite>
                    <i class="layui-icon nav_right">&#xe602;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="back/center/institution?typeid=8">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>中心简介</cite>   
                        </a>
                    </li >
                    <li>
                        <a _href="back/center/institution?typeid=9">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>机构设置</cite>
                        </a>
                     </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe663;</i>
                    <cite>新闻公告</cite>
                    <i class="layui-icon nav_right">&#xe602;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="news/dynamic">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>新闻动态</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="news/notice">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>通知公告</cite>
                        </a>
                    </li >                                       
                </ul>
            </li>
            <li>
                <a _href="news/rule">
                    <i class="layui-icon">&#xe6b2;</i>
                    <cite>规章制度</cite>
                </a>
            </li>
            <li>
                <a _href="operator/index">
                    <i class="layui-icon">&#xe770;</i>
                    <cite>管理员</cite>
                </a>
            </li>                       
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>成果展示</cite>
                    <i class="layui-icon nav_right">&#xe602;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="education/index?type=research">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>实验教学研究</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="education/index?type=innovate">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>创新创业</cite>
                        </a>
                    </li >  
                    <li>
                        <a _href="education/index?type=culture">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>实验室文化</cite>
                        </a>
                    </li >                                                                                                           
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe601;</i>
                    <cite>资料下载</cite>
                    <i class="layui-icon nav_right">&#xe602;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="material/index?fileType=0">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>文档资料</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="material/index?fileType=1">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>软件管理</cite>
                        </a>
                    </li >
                </ul>
            </li>
        </ul>
      </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='static/welcome.html' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2017 x-admin v2.3 All Rights Reserved</div>  
    </div>
    <!-- 底部结束 -->
</body>
</html>